<ion-view view-title="Sobre o App 365 Dias">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/weslley.jpg">
        <h2>Weslley Silva</h2>
        <p>23 de Agosto, 2015</p><p><a id="data"></a><a class="ion-heart"></a></p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/wr.jpg" style="img { max-width:100%; }">
        <p>
          Texto Sobre
        </p>
        <p class="subdued" style="text-align: right; margin-right:10%;">by Weslley Silva</p>
      </div>
    </div>

  </ion-content>
</ion-view>
